@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/jetbrains-mono-variable.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
button,
input {
  font-family: "JetBrains Mono", monospace;
}
